.menu {
  position: absolute;
  background-color: #191d28;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  top: 70px;
  width: 100%;
  height: calc(100vh - 70px);
  padding-top: 200px;
  animation: growDown 500ms ease-in-out both;
  transform-origin: top center;
}

.menu:active {
  animation: growUp 2000ms ease-in-out both;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growUp {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.NavLink {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  text-decoration: none;
  color: #f3f3f3;
}

.NavLinkActive {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  text-decoration: none;
  color: #3a6af5;
}

@media screen and (min-width: 768px) {
  .menu {
    height: 960px;
    background-image: url('../../../images/waveTab.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}

.NavLink {
  font-size: 24px;
  line-height: 1.17;
}

.NavLinkActive {
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}
