.Backdrop {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#191D28;;
    z-index: 1200;
}

.box {
    position: absolute;
    width: 315px;
    height: 190px;
    left: 199px;
    top: 407px;
    background: #191D28;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border-radius: 16px;

}

.close {
    visibility: visible;
    position: absolute;
    top: 14px;
    right: 15px;
    border: none;
    background-color: #191D28;
    width: 18px;
    height: 18px;
    padding: 0px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.mdClose {
    width: 11px;
    height: 11px;
    color: #F3F3F3;
}

.modalForm {
    padding: 50px 20px  20px;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 34px 10px 24px;
    gap: 10px;
    width: 275px;
    height: 40px;
    border: 1px solid rgba(108, 108, 108, 0.4);
    border-radius: 28px;
    color: #F3F3F3;
    background: #191D28;
    margin-bottom: 24px;
}

.buttonAdd {
    width: 138px;
    height: 36px;
    padding: 8px 56px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-right: 13px;
    border: none;
    border-radius: 60px;
    color: #F3F3F3;;
    background: #3A6AF5;
}

.buttonCancel {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 41px;
    gap: 10px;
    width: 124px;
    height: 36px;
    background: #F3F3F3;
    border: none;
    border-radius: 60px;
    color: #191D28;
}

.buttonCancel:hover {
    color: #F3F3F3;
    background: #3A6AF5;
}

@media screen and (min-width: 768px) {
    .box {
        width: 370px;
        height: 210px;
    }

    .close {
        width: 24px;
        height: 24px;
    }

    .mdClose {
        width: 14px;
        height: 14px;
    }
    

    .modalForm {
        padding: 58px 34px  34px;
    }

    .input {
        width: 302px;
        margin-bottom: 32px;
    }

    .buttonAdd {
        width: 150px;
    }
    
    .buttonCancel {
        width: 138px;
    }

}