.nav {
  height: 100%;
  display: flex;
}

.authBox {
  display: flex;
  column-gap: 32px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 55px;
  margin-right: 140px;
  align-items: center;
}

.NavLink {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-decoration: none;
  color: #f3f3f3;
  transition: all 100ms linear;
}
.NavLink:hover {
  color: #3a6af5;
}

.NavLinkActive {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-decoration: none;
  color: #3a6af5;
}

.hide {
  display: none;
}

.show {
  display: block;
}
