.BoxContainer {
    width: 1280px;
    padding: 0 255px 0 255px;
    margin-left: auto;
    margin-right: auto;
    background-color: #191d28;
}

@media screen and (min-width: 375px) {
    .BoxContainer {
        min-width: 375px;
        padding: 0 16px 0 16px;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .BoxContainer {
        width: 768px;
        padding: 0 32px 0 32px;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .BoxContainer {
        width: 1280px;
        padding: 0 255px 0 255px;
        margin: 0;
    }
}