.BoxContainer {
    /* width: 100%; */
    padding: 0 16px 0 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
.BoxContainer {
    width: 375px;
    padding: 0 16px 0 16px;
    }
}


@media screen and (min-width: 768px) {
.BoxContainer {
    width: 768px;
    padding: 0 32px 0 32px;
    }
}
@media screen and (min-width: 1280px) {
.BoxContainer {
    width: 1280px;
    padding: 0 55px 0 55px;
    }
}