.inputWrapper {
  width: 100%;
  margin-top: 18px;
  padding: 12px 0 16px 16px;
  background: rgba(37, 44, 65, 0.5);
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.labelBalance {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;

  opacity: 0.2;
}
.labelBalance + input {
  color: rgba(243, 243, 243, 0.4);
  border: none;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(243, 243, 243, 0.4);
}

.input {
  display: block;
  border: none;
  background: none;
  color: #f3f3f3;
  font-size: 16px;
  line-height: 1.19;
  outline: none;
}

.inputWrapper:hover,
.inputWrapper:focus {
  border: 2px solid #3a6af5;
  cursor: pointer;
}

.inputWrapper:hover .label,
.inputWrapper:focus .label {
  color: #3a6af5;
}

.input::placeholder {
  color: #f3f3f3;
}

.dropdown {
  position: relative;
  height: 19px;
  display: flex;
  justify-content: center;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: -4px;
  right: 16px;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-225deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdownActive::before {
  transform: rotate(-45deg);
}

.dropdown input {
  color: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.19;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.dropdown .options {
  position: absolute;
  top: 38px;
  left: -15px;
  width: 340px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdownActive .options {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  z-index: 100;
  perspective: 1000px;
}

.dropdown .options div {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
}

.dropdown .options div:hover {
  background: #eff;
  color: #62baea;
}

.dropdown .options div {
  position: relative;
  top: 4px;
  font-size: 1.2em;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    gap: 32px;
    margin-bottom: 256px;
  }

  [id="1"] {
    grid-area: 1 / 1;
  }

  [id="2"] {
    grid-area: 1 / 2;
  }

  [id="3"] {
    grid-area: 2 / 1; 
  }

  [id="4"] {
    grid-area: 2 / 2;  
  }

  .inputWrapper {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    gap: 30px;
    margin-bottom: 90px;
  }
}

.inputWrapperBalance:hover {
  cursor: not-allowed;
  border: 2px solid rgba(37, 44, 65, 0.5);
}
