.inputWrapper {
   max-width: 343px;
    margin-top: 18px;
    padding: 14px 18px 18px 18px;
    background: rgba(37, 44, 65, 0.5);
    border-radius: 16px;
}
.label {
    display: block;
    margin-bottom: 4px;
    font-family: 'Lato';
    font-size: 12px;
    line-height: 1.2;
    color: rgba(243, 243, 243, 0.4);
}

.input {
    display: block;
    border: none;
    background: none;
    color: #F3F3F3;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 1.19;
}

.input::placeholder {
    color: #F3F3F3;
}