.addMoreBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding: 40px;
    background-color: #1F2534;
    border-radius: 16px;

}

.addMoreTitle {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.addMoreSum {
    display: block;
    margin-top: 28px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}

.addMoreMeter {
    color: #3A6AF5;
}

.dynamicImage {
    display: block;
}

@media screen and (min-width: 768px) {
    .addMoreBox {
        flex-direction: row;
        gap: 59px;
        padding: 30px 88px 30px 114px;
    }
}

@media screen and (min-width: 1280px) {
    .addMoreBox {
        max-width: 570px;
        padding: 46px 60px;
    }
}