.statisticPerMonth {
  margin-bottom: 50px;
}

.statisticBox {
  margin-top: 28px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.statisticWrapper {
  text-align: center;
  background-color: #1f2534;
  border-radius: 16px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}

.statTitle {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #f3f3f399;
  letter-spacing: 0.16px;
}

.statSum {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.16px;
  color: #f3f3f3;
}

@media screen and (min-width: 768px) {
  .statisticBox {
    gap: 8px;
    margin-top: 24px;
  }

  .statisticWrapper {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .statTitle {
    font-size: 8px;
    line-height: 2.25;
  }

  .statSum {
    font-size: 12px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1280px) {
  .statisticBox {
    margin-top: 14px;
  }

  .statisticWrapper {
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
