.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  height: 70px;
  background-color: #191d28;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigationBox {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
}

.userMenuDiv {
  display: flex;
  justify-content: flex-end;
}

.descktop {
  display: none;
}

.authMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    width: 100%;
    height: 72px;
  }

  .navigationBox {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 100%;
  }
  .descktop {
    display: block;
  }
  .authMenu {
    width: 550px;
    display: block;
  }
}
