.boxForm {
  background: #4770e4;
  border-radius: 16px;
  padding: 40px 48px;
  margin: 0 auto;
}

.text {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #f3f3f3;
  margin-bottom: 18px;
}

.form {
  display: block;
}

.LabelForm {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 18px;
  color: rgba(243, 243, 243, 0.4);
}

.input:hover, .input:focus {
  outline: none;
}

.LabelFormMonths {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 28px;
  color: rgba(243, 243, 243, 0.4);
}

.input:hover, .input:focus {
  outline: none;
}

.textLabebel {
  margin-bottom: 6px;
}

.input {
  width: 247px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0px 14px 24px;
  gap: 10px;
  border: 1px solid rgba(243, 243, 243, 0.4);
  border-radius: 28px;
  color: #f3f3f3;
  background: #4770e4;
}

.btnContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.button {
  width: 100%;
  height: 46px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4770e4;
  background: #f3f3f3;
  border: none;
  border-radius: 60px;
  margin-bottom: 14px;
}

.buttonAddBalance {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #f3f3f3;
  box-sizing: content-box;
  width: 72px;
}

.active {
  animation: blink 2s infinite linear;
}

@keyframes blink {
  0% {
    color: #3A6AF5;
    text-shadow: #3A6AF5 1px 0 10px;
    border-color: #3A6AF5;
  }
  
  50% {
    color: #f3f3f3;
    border-color: #f3f3f3;
  }
  
  100% {
    color: #3A6AF5;
    text-shadow: #3A6AF5 1px 0 10px;
    border-color: #3A6AF5;
  }
}

@media screen and (min-width: 768px) {
  .boxForm {
    border-radius: 16px;
  }

  .text {
    margin-bottom: 14px;
    font-size: 18px;
  }

  .form {
    display: flex;
    align-items: flex-start;
  }
  
  .LabelForm {
    margin-right: 18px;
    margin-bottom: 0;
  }

  .LabelFormMonths {
    margin-right: 24px;
    margin-bottom: 0;
  }

  .input {
    width: 183px;
  }
  
  .btnContainer {
    flex-direction: column;
  }
  
  .button {
    width: 200px;
    margin-top: 9px;
  }

}

@media screen and (min-width: 1280px) {
  .boxForm {
    padding: 24px 66px;
  }
}
