.boxForm {
  background: #3A6AF5;
  border-radius: 16px;
  padding: 40px 48px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.text {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #f3f3f3;
  margin-bottom: 18px;
}

.form {
  display: block;
}

.LabelForm {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 18px;
  color: rgba(243, 243, 243, 0.4);
}

.input:hover,
.input:focus {
  outline: none;
}

.LabelFormMonths {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 28px;
  color: rgba(243, 243, 243, 0.4);
}

.LabelForm > .input:not([value="0"]),
.LabelFormMonths > .input:not([value="0"]) {
  animation: blinkBox 2s linear;
}

@keyframes blinkBox {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0px 0px 2px 1px #fff;
  }

  100% {
    box-shadow: none;
  }
}

.input:hover,
.input:focus {
  outline: none;
}

.textLabebel {
  margin-bottom: 6px;
}

.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 24px;
  border: 1px solid rgba(243, 243, 243, 0.4);
  border-radius: 28px;
  color: #f3f3f3;
  background: #3A6AF5;
}

.btnContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.button {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4770e4;
  background: #f3f3f3;
  border: none;
  padding: 14px 24px;
  border-radius: 60px;
  cursor: pointer;
}

.buttonAddBalance {
  margin-bottom: 6px;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #f3f3f3;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #f3f3f3;
  box-sizing: content-box;
  width: 80px;
}
.buttonAddBalanceDisabled {
  margin-bottom: 6px;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #999999;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #999999;
  box-sizing: content-box;
  opacity: 0.8;
  cursor: not-allowed;
}

.active {
  animation: blink 2s infinite linear;
}

@keyframes blink {
  0% {
    color: #3a6af5;
    text-shadow: #3a6af5 1px 0 10px;
    border-color: #3a6af5;
  }

  50% {
    color: #f3f3f3;
    border-color: #f3f3f3;
  }

  100% {
    color: #3a6af5;
    text-shadow: #3a6af5 1px 0 10px;
    border-color: #3a6af5;
  }
}

@media screen and (min-width: 768px) {
  .boxForm {
    border-radius: 16px;
  }
  
  .text {
    margin-bottom: 14px;
    font-size: 18px;
  }
  
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
  }
  
  .LabelForm {
    margin-bottom: 0;
    flex: 1;
    width: 0;
  }

  .LabelFormMonths {
    margin-bottom: 0;
    flex: 1;
    width: 0;
  }

  .btnContainer {
    flex-direction: column;
    flex: 1;
    width: 0;
  }

}

@media screen and (min-width: 1280px) {
  .boxForm {
    padding: 24px 66px;
  }

  .LabelFormMonths {
    margin-bottom: 0;
  }
}
