* {
    box-sizing: border-box;
}
.main {
    color: #F3F3F3;
    padding: 50px 0 66px 0;
    background: url("../../images/CashflowPage/Vector-desktop.png"), #191D28;
    background-repeat: no-repeat;
    background-position: bottom;
}