.box{
  background-color: #191D28;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  padding: 32px 50px;
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.title {
 font-size: 20px;
 line-height: 1;
 font-weight: 600;
 color: #F3F3F3;
 font-family: 'Lato', sans-serif;
 margin-bottom: 44px;
 text-align: center;
}

.label {
display: flex;
flex-direction: column;
font-family: 'Lato', sans-serif;
font-size: 14px;
line-height: 1.29;
color: #6C6C6C;
margin-bottom: 6px;
}

.input {
box-sizing: border-box;
padding: 11px 32px 11px 24px;
color: #F3F3F3;
font-size: 14px;
line-height: 1.29;
border: 1px solid rgba(108, 108, 108, 0.4);
border-radius: 28px;
background-color: transparent;
outline: none;
width: 100%;
}
.input[type="password"]::-ms-reveal,
.input[type="password"]::-ms-clear {
  display: none;
}

.btn{
margin-top: 16px;
background-color: #3A6AF5;
border-radius: 60px;
color: #F3F3F3;
padding: 12px 10px;
cursor: pointer;
max-width: 300px;
}
.labelWrapper {
  position: relative;
max-width: 300px;
}
.eye {
color: #F3F3F3;
cursor: pointer; 
position: absolute;
top: 36px;
right: 12px;
}

@media screen and (max-width:767px) {
  .title {
    position: absolute;
    top: -80px;
    text-align: center;
    width: inherit;
    margin-left: -38px;
  }
  .box{
    position: relative;
    width: 100%;
    padding: 64px 38px;
    background-color: #3A6AF5;
    border-radius: 40px 40px 0px 0px;
    height: 100vh;
  }
  .form {
    display: grid;
    place-content: center;
  }
  .label {
    color: rgba(243, 243, 243, 0.8);
  }
  .input{
    border: 1px solid rgba(243, 243, 243, 0.4);
    color: #f3f3f3;
  }
  .btn {
    border: none;
    background-color: #F3F3F3;
    color: #4770E4;
    font-weight: 700;
    line-height: 1.43;
  }
}

.wasSendTitle {
  color: #F3F3F3;
}