.box {
  position: relative;
  display: flex;
  align-items: center;
  width: 370px;
  height: 227px;
  background-color: #191d28;
  border-radius: 16px;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  background-image: url('../../images/PopUp/Frame1.png'),
    url('../../images/PopUp/Frame2.png');
  background-position: top left, top right;
  background-repeat: no-repeat;
}

.textarea {
  padding: 68px 40px 68px 40px;
}

.heading {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #4770e4;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f3f3f3;
}

.svg {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
