.box {
  background-color: #191d28;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  padding: 32px 50px;
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.title {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  margin-bottom: 44px;
  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #6c6c6c;
  margin-bottom: 6px;
}

.input {
  box-sizing: border-box;
  padding: 11px 32px 11px 24px;
  color: #f3f3f3;
  font-size: 14px;
  line-height: 1.29;
  border: 1px solid rgba(108, 108, 108, 0.4);
  border-radius: 28px;
  background-color: transparent;
  outline: none;
  min-width: 300px;
}
.input[type='password']::-ms-reveal,
.input[type='password']::-ms-clear {
  display: none;
}

.btn {
  margin-top: 12px;
  border:1px solid  #3a6af5;
  background-color: #3a6af5;
  border-radius: 60px;
  color: #f3f3f3;
  padding: 12px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 100ms linear;
}
.btn:hover {
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  color: #3a6af5;;
}
.labelWrapper {
  position: relative;
  max-width: 300px;
}
.eye {
  color: #f3f3f3;
  cursor: pointer;
  position: absolute;
  top: 36px;
  right: 12px;
}


@media screen and (max-width: 767px) {
  .title {
    position: absolute;
    top: -80px;
    text-align: center;
    width: inherit;
    margin-left: -38px;
  }

  .box {
    position: relative;
    width: 100%;
    padding: 64px 38px;
    background-color: #3a6af5;
    border-radius: 40px 40px 0px 0px;
    height: 100vh;
  }
  .form {
    display: grid;
    place-content: center;
  }
  .label {
    color: rgba(243, 243, 243, 0.8);
  }

  .input {
    border: 1px solid rgba(243, 243, 243, 0.4);
    color: #f3f3f3;
  }
  .btn {
    background-color: #f3f3f3;
    color: #4770e4;
    font-weight: 700;
    line-height: 1.43;
  }
}

.wasSendTitle {
  color: #f3f3f3;
}

.error {
position: absolute;
margin-top: 4px;
font-family: 'Lato', sans-serif;
font-size: 14px;
line-height: 1.29;
color: #FF2E00;
}
.errorPwd {
position: relative;
margin-bottom: 27px;
top:55px;
font-family: 'Lato', sans-serif;
font-size: 14px;
line-height: 1.29;
color: #FF2E00;
}

.errorDefault {
position: relative;
margin-top:49px;
margin-bottom: -55px;
font-family: 'Lato', sans-serif;
font-size: 14px;
line-height: 1.29;
color: #FF2E00;
}

.error_border {
  margin-top: 0;
  outline: 1px solid #FF2E00; 
  font-family: 'Lato', sans-serif;
font-size: 14px;
line-height: 1.29;
color: #FF2E00;
}

.email {
  font-weight: 700;
}