.languageSwitcher {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  width: calc(24px * 2);
  height: 24px;
}

.selectEn, .selectUa {
  transition: all 100ms linear;
}

.languageSwitcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.languageSwitcher .selectUa,
.languageSwitcher .selectEn {
  display: flex;
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  top: 4px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.languageSwitcher .selectUa {
  left: 26.5px;
}

.languageSwitcher .selectEn {
  right: 26px;
}

.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.Slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 0;
  bottom: 0;
  transition: 0.4s;
}

input:checked + .selectEn:before,
input:checked + .selectUa:before {
  transform: scaleX(1);
}

.Round {
  border-radius: 24px;
}

.Round:before {
  border-radius: 50%;
}
