.expensesLimitsWrapper {
  background-color: #3a6af5;
  margin-top: 68px;
  padding: 40px 64px;
  border-radius: 16px;
}

.dailyLimitWrapper {
  margin-bottom: 18px;
}

.monthlyLimitWrapper {
  margin-bottom: 44px;
}

.label {
  margin-top: 6px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(243, 243, 243, 0.4);
}

.input {
  border: none;
  background: none;
  padding: 0;
  padding: 14px 0 14px 24px;
  border: 1px solid rgba(243, 243, 243, 0.4);
  border-radius: 28px;
  font-size: 14px;
  line-height: 1.29;
  color: #f3f3f3;
}

.input:hover, .input:focus {
  outline: none;
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnReady {
  width: 100%;
  padding: 14px 24px;
  align-items: center;
  background: #f3f3f3;
  border: none;
  border-radius: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #3a6af5;
}

.btnAdd {
  margin-top: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.43;
  text-align: center;
  color: #f3f3f3;
  background-color: #3a6af5;
  border: none;
  border-bottom: 1px solid #f3f3f3;
}

@media screen and (min-width: 768px) {
  .expensesLimitsWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
    margin-top: 0;
    column-gap: 18px;
    padding: 44px 32px 82px 32px;
  }

  .dailyLimitWrapper {
    display: flex;
    flex: 1 1 0;
    width: 100%;
    margin-bottom: 0;
    flex-direction: column;

  }

  .monthlyLimitWrapper {
    display: flex;
    flex: 1 1 0;
    width: 100%;
    margin-bottom: 0;
    flex-direction: column;

  }

  .btnsWrapper {
    flex: 1 1 0;
    width: 100%;
  }

  .label {
    margin-top: 6px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .expensesLimitsWrapper {
    padding: 40px 66px 54px 66px;
  }

  .label {
    margin-top: 6px;
    margin-bottom: 0;
  }
}
