.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
}

.containerModal {
  background-color: #191d28;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  user-select: none;
  position: relative;
  padding: 58px 34px 40px 34px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.btnCloseModal {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #f3f3f3;
}

.label {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #6c6c6c;
  margin-bottom: 6px;
}

.input {
  box-sizing: border-box;
  padding: 11px 32px 11px 24px;
  color: #f3f3f3;
  font-size: 14px;
  line-height: 1.29;
  border: 1px solid rgba(108, 108, 108, 0.4);
  border-radius: 28px;
  background-color: transparent;
  outline: none;
  width: 100%;
  margin-bottom: 32px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  column-gap: 14px;
}

.btn {
  width: 150px;
  margin-top: 12px;
  background-color: #3a6af5;
  border-radius: 60px;
  color: #f3f3f3;
  padding: 12px 10px;
  cursor: pointer;
  max-width: 300px;
  border: none;
}
.labelWrapper {
  position: relative;
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .title {
    position: absolute;
    top: -80px;
    text-align: center;
    width: inherit;
    margin-left: -38px;
  }

  .box {
    position: relative;
    width: 100%;
    padding: 64px 38px;
    background-color: #3a6af5;
    border-radius: 40px 40px 0px 0px;
    height: 100vh;
  }
  .form {
    display: grid;
    place-content: center;
  }
  .label {
    color: rgba(243, 243, 243, 0.8);
  }

  .input {
    border: 1px solid rgba(243, 243, 243, 0.4);
    color: #f3f3f3;
  }
}

.wasSendTitle {
  color: #f3f3f3;
}

.error {
  margin-top: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #ff2e00;
}

.error_border {
  margin-top: 0;
  outline: 1px solid #ff2e00;
}
