@import-normalize;

@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/lato-thin-webfont.woff2') format('woff2'),
  url('../src/fonts/lato-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/lato-light-webfont.woff2') format('woff2'),
       url('../src/fonts/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../src/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/lato-bold-webfont.woff2') format('woff2'),
       url('../src/fonts/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../src/fonts/lato-black-webfont.woff2') format('woff2'),
       url('../src/fonts/lato-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../src/fonts/unbounded-variablefont_wght-webfont.woff2') format('woff2'),
       url('../src/fonts/unbounded-variablefont_wght-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}

section {
  min-width: 320px;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input[type="number"] {
  appearance: textfield;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191d28;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a6af5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f5ce6;
}
