.main {
  padding-top: 130px;
  background-color: #191d28;
  height: calc(100vh);
  background-image: url(../../images/block.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 481px;
}

.mainContainer {
  margin-left: 16px;
}
.sloganContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: max-content;
  padding: 8px 16px;
  height: 34px;
  left: 10px;
  top: 650px;
  background-color: rgba(243, 243, 243, 0.053);
  opacity: 1.5;
  backdrop-filter: blur(21.47px);
  border-radius: 31px;
  filter: drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.2));
}

.sloganText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.sloganPartText {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3a6af5;
  margin-left: 2px;
  margin-right: 2px;
}

.sloganContainerSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: max-content;
  height: 34px;
  padding: 8px 16px;
  left: 110px;
  top: 760px;
  background-color: rgba(243, 243, 243, 0.053);
  opacity: 1.5;
  backdrop-filter: blur(21.47px);
  border-radius: 31px;
  filter: drop-shadow(0px 11px 15px rgba(0, 0, 0, 0.2));
}

.title {
  font-family: 'Unbounded', cursive;
  text-transform: uppercase;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  width: 314px;
  letter-spacing: -0.02em;
  margin-top: 0px;
  margin-bottom: 24px;
  line-height: 34px;
}
.mainLogo {
  padding: 10px 20px;
  font-family: 'Unbounded', cursive;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.02em;
  width: max-content;
  height: 48px;
  background-color: #3a6af5;
  border-radius: 60px;
  margin-bottom: 18px;
}

.signGoogle {
  width: max-content;
  height: 32px;
  padding: 4.5px 14px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-items: center;
  background: #1c2232;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.084), 0px 1px 1px rgba(0, 0, 0, 0.168);
  border-radius: 8px;
}

.signGoogle:hover,
.signGoogle:focus {
  background-color: #3a6af5;
}

.signText {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.15px;
  cursor: pointer;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .main {
    height: calc(100vh - 70px);
    padding-top: 0;
    padding-left: 32px; 
    background-size: 656px;
  }

  .sloganContainer {
    left: 80px;
    top: 600px;
    padding: 16px 24px;
  }

  .sloganContainerSecond {
    left: 353px;
    top: 700px;
    padding: 16px 24px;
  }

  .title {
    width: 646px;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 32px;
    line-height: 56px;
    padding-top: 72px;
  }
  .mainLogo {
    display: inline-flex;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 48px;
    margin-right: 10px;
  }
  .signGoogle {
    gap: 8px;
    padding: 11px 18px;
  }
  .signText {
    font-weight: 400;
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding-left: 55px;
    background-position: bottom right -60px; 
  }
  .manMob {
    display: none;
  }

  .BigDesc {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .BigTablet {
    display: none;
  }
  .BigInsideTablet {
    display: none;
  }

  .BigInsideDesc {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .manDesc {
   
    display: none;
  }

  .manDesctop {
    display: block;
    bottom: 0px;
    position: absolute;
    right: 2.5%;
  }

  .BigInsideTablet {
    display: none;
  }

  .EllipseBigTablet {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 460px;
  }
  .EllipseSmallTablet {
    display: block;
    position: absolute;
    right: 135px;
    bottom: 555px;
  }

  .sloganContainer {
    left: 55%;
    top: 60%;
  }

  .sloganContainerSecond {
    left: 82%;
    top: 80%;
  }

  .title {
    width: 646px;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 32px;
    line-height: 56px;
    padding-top: 142px;
  }
  .mainLogo {
    padding: 30px 24px;
    font-weight: 500;
    font-size: 48px;
  }
  .signGoogle {
    gap: 8px;
    padding: 11px 18px;
  }
  .signText {
    font-weight: 400;
    font-size: 12px;
  }
}
