.burgerMenuBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 23px 10px;
}
.RxHamburgerMenu {
  width: 24px;
  height: 24px;
  color: #f3f3f3;
}

.GrClose {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .burgerMenuBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 32px;
  }
  .RxHamburgerMenu {
    width: 32px;
    height: 32px;
    color: #f3f3f3;
  }
}

@media screen and (min-width: 1280px) {
  .burgerMenuBtn {
    display: none;
  }
}
