html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.list {
  height: 286px;
  margin: 0 auto;
  margin-bottom: 74px;
  display: block;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 30px;
}

.input {
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  font-size: 24px;
  padding: 8px;
}

.input:disabled {
  background: none;
}


@media screen and (min-width: 768px) {

  

    .list {
      height: 286px;
      margin: 0 auto;
      margin-bottom: 74px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 32px;
      column-gap: 30px;
    }
}