html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
a {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

.container {
  width: 380px;
  margin: 0 auto;
}

.list {
  padding: 50px 0 64px 0;
  margin: 0 auto;
}

.input {
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  font-size: 24px;
  padding: 8px;
}

.input:disabled {
  background: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 672px;
  }
  .list {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 122px;
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}

@media (min-width: 768px) {
  #1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #4 {
    grid-area: 1 / 2 / 2 / 3;
  }
  #5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  #6 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (max-width: 767px) {
  #1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  #2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  #3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  #4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  #5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  #6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}

@media screen and (min-width: 1280px) {

  .list {
    padding-top: 66px;

  }
}
