.container {
  margin: 0 auto;
}

.list {
  display: grid;
  padding-bottom: 114px;
  gap: 18px;
}

.input {
  display: block;
  border: none;
  background: none;
  color: #f3f3f3;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 1.19;
  outline: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 768px) {
  .list {
    padding-bottom: 122px;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
}

@media (min-width: 768px) {
  [id="1"] {
    grid-area: 1 / 1 / 2 / 2;
  }
  [id="2"] {
    grid-area: 2 / 1 / 3 / 2;
  }
  [id="3"] {
    grid-area: 3 / 1 / 4 / 2;
  }
  [id="4"] {
    grid-area: 1 / 2 / 2 / 3;
  }
  [id="5"] {
    grid-area: 2 / 2 / 3 / 3;
  }
  [id="6"] {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (min-width: 1280px) {
  .list {
    padding-bottom: 74px;
  }
}
